---
layout: default
title: Aree
permalink: /it/areas/
---

{% capture areas %}
  {% for current in site.data.it_properties %}
    {% assign array = current[0] | split:'/' %}
      {% if array[2] == 'areas' and current[0] != '/it/areas/' %}
        {{ current[0] }}
      {% endif %}
  {% endfor %}
{% endcapture %}

{% assign sortedareas = areas | split:' ' | sort %}

<div class="home">
  <h1>{{ page.title }}</h1>

  <ul>
    {% for key in sortedareas %}
    {% assign area = site.data.it_properties[key] %}
      <li>
        <a href="{{ key | prepend: site.baseurl }}">
          {{ area.title }}
        </a>
      </li>
    {% endfor %}
  </ul>

</div>
