

{% capture relations %}
  {% for current in site.data.relations %}
    {% for relation in current[1].relations %}
      {% for cursub in relation.subject %}
        {% if cursub == page.url %}
          {{ current[0] }}
        {% endif %}
      {% endfor %}
      {% for curobj in relation.object %}
        {% if curobj == page.url %}
          {{ current[0] }}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endcapture %}

{% assign relationsarr = relations | split:' '  %}
{% for key in relationsarr %}
  {% assign relprop = site.data.relations[key] %}
  {% for relation in relprop.relations %}
    <p>
    {% for cursub in relation.subject %}
      {% if cursub == page.url %}
        <strong>{{ site.data.properties[cursub].title }}</strong>
      {% else %}
        <a href="{{ site.baseurl }}{{ cursub }}">{{ site.data.properties[cursub].title }}</a>
      {% endif %}
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
    {{ relation.verb }}
    {% for curobj in relation.object %}
      {% if curobj == page.url %}
        <strong>{{ site.data.properties[curobj].title }}</strong>
      {% else %}
        <a href="{{ site.baseurl }}{{ curobj }}">{{ site.data.properties[curobj].title }}</a>
      {% endif %}
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
     @ <a href="{{ site.baseurl }}{{ key }}">{{ relprop.date | date: "%b %-d, %Y" }}</a>
    </p>
  {% endfor %}
{% endfor %}
