

{% capture relations %}
  {% for current in site.data.relations %}
    {% for relation in current[1].relations %}
      {% for cursub in relation.subject %}
        {% if cursub == page.url %}
          {{ current[0] }}
        {% endif %}
      {% endfor %}
      {% for curobj in relation.object %}
        {% if curobj == page.url %}
          {{ current[0] }}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endcapture %}

{% assign relationsarr = relations | split:' '  %}
<ul>
{% for key in relationsarr %}
  {% assign relprop = site.data.relations[key] %}
  {% for relation in relprop.relations %}
    <li>
    {% for cursub in relation.subject %}
      {% if cursub == page.url %}
        {{ site.data.properties[cursub].title }}{% unless forloop.last %},{% endunless %}
      {% else %}
        <a href="{{ site.baseurl }}{{ cursub }}">{{ site.data.properties[cursub].title }}</a>{% unless forloop.last %},{% endunless %}
      {% endif %}
    {% endfor %}
    <strong>{{ relation.verb }}</strong>
    {% for curobj in relation.object %}
      {% if curobj == page.url %}
        {{ site.data.properties[curobj].title }}{% unless forloop.last %},{% endunless %}
      {% else %}
        <a href="{{ site.baseurl }}{{ curobj }}">{{ site.data.properties[curobj].title }}</a>{% unless forloop.last %},{% endunless %}
      {% endif %}
    {% endfor %}
     @ <a href="{{ site.baseurl }}{{ key }}">{{ relprop.date | date: "%b %-d, %Y" }}</a>
   </li>
  {% endfor %}
{% endfor %}
</ul>
