---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {% include relations.html %}

  <p>People based in {{ page.title }}:</p>
  <ul>
  {% for prop in site.data.properties %}
    {% for current in prop[1].based %}
      {% if current == page.url %}
        <li><a href="{{ site.baseurl }}{{ prop[0] }}">{{ prop[1].title }}</li>
      {% endif %}
    {% endfor %}
  {% endfor %}
  </ul>

</article>
