---
layout: default
---
{% assign parts = page.url | split: '/'  %}
{% assign language = parts[1] %}
{% if language == 'it' %}
  {% assign urllang = "/it" %}
  {% assign myprop = site.data.it_properties %}
{% else %}
  {% assign myprop = site.data.properties %}
  {% assign language = 'en' %}
{% endif %}
{% assign urlnolang = page.url | replace: '/it/' , '/'  %}

{% assign year = site.time | date: '%Y' %}
{% assign person = site.data.properties[urlnolang] %}
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if person.born %} <p>{{ site.data.translations[language]['Age'] }}: <strong>{{ year | minus: person.born }}</strong></p>{% endif %}
    {% if person.based %}
      <p>{{ site.data.translations[language]['Based'] }}:
        {% for current in person.based %}
          {% assign cururllang = current | prepend: urllang %}
          <a href="{{ site.baseurl }}{{ urllang }}{{ current }}">{{ myprop[cururllang].title }}</a>{% unless forloop.last %},{% endunless %}
        {% endfor %}
      </p>
    {% endif %}
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {% include relations.html %}

</article>
