---
layout: default
---

{% assign urlnolang = page.url | replace: '/it/' , '/'  %}
{% assign parts = page.url | split: '/'  %}
{% assign language = parts[1] %}
{% if language == 'it' %}
  {% assign urllang = "/it" %}
  {% assign myprop = site.data.it_properties %}
{% else %}
  {% assign myprop = site.data.properties %}
  {% assign language = 'en' %}
{% endif %}
{% assign urlnolang = page.url | replace: '/it/' , '/'  %}

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% assign total = 0 %}
    {% for current in site.data.relations %}
      {% for relation in current[1].relations %}
        {% if relation.verb == 'invest' and relation.value %}
          {% for object in relation.object %}
            {% if object == urlnolang %}
              {% assign total = total | plus: relation.value %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% if total > 0 %}
    <p>{{site.data.translations[language]['Investment']}}: <strong>${{ total }}</strong></p>
    {% endif %}

  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {% include relations.html %}

</article>
